@model List<Language>
@if (TempData["basarili"] != null)
{
	<h2 style="color:red">@TempData["basarili"]</h2>
}

<div class="container">

	<div class="row pt-3 row pb-5">
		<div>
			<h1>Language</h1>
		</div>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					No
				</th>
				<th>
					Language Name
				</th>
				<th>
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
			
			@foreach (var (language, index) in Model.Select((value, i) => (value, i)))
			{
				<tr>


					<td>@(index + 1)</td>
					<td>@language.LanguageName</td>
					<td>
						<a asp-controller="Language" asp-action="EkleGuncelle" asp-route-id="@language.LanguageId" class="btn btn-success" style="width:150px">
							Update
						</a>

					</td>
					<td>
						<a asp-controller="Language" asp-action="Sil" asp-route-id="@language.LanguageId" class="btn btn-danger" style="width:150px">
							Delete
						</a>
					</td>
				</tr>

				
			}
		</tbody>

	</table>

	<div class="row pt-3 pb-2">
		<div>
			<a asp-controller="Language" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">
				Create New Language
			</a>
		</div>
	</div>
					
</div>